body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header  {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 0px;
}

.sessao_pesquisa {
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.formulario {
    margin-right: 1rem;
}

.input_pesquisa {
    transition: all 0.5s ease-in-out;
    padding: 0.5rem;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

.input_pesquisa:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#lista {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    transition: opacity 0.3s ease-in-out;
}

#lista.loading {
    opacity: 0.3;
}

.item {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 540px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem;
    min-width: 260px;
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Adicionando o overlay nos cards */
.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Overlay semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.item:hover .overlay {
    opacity: 1; /* Exibe o overlay quando o card é hoverizado */
}

.item .img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item .img-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.item .content {
    flex: 2;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .titulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content p {
    margin: 5px 0;
    font-size: 0.9rem;
    text-align: left;
}

.content .nota,
.content .favorito {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.content .nota {
    font-size: 1rem;
    margin-right: 15px;
}

.content .favorito {
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .input_pesquisa {
        width: 100%;
        margin-bottom: 1rem;
    }

    .formulario {
        margin-right: 0;
    }

    .item {
        flex-direction: column;
        width: 100%;
    }

    .item .img-container img {
        width: 100px;
        height: 100px;
    }

    .content .titulo {
        font-size: 1rem;
    }

    .content p {
        font-size: 0.8rem;
    }

    .content .nota {
        font-size: 0.9rem;
    }

    .content .favorito {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1rem;
    }

    .item {
        width: 100%;
    }

    .content .titulo {
        font-size: 0.9rem;
    }

    .content p {
        font-size: 0.7rem;
    }

    .content .nota {
        font-size: 0.8rem;
    }

    .content .favorito {
        font-size: 1.2rem;
    }
}
